.mat-column-playlistName {
  padding: 0px 30px 0px 0px;
}

.mat-column-owner {
  padding: 0px 20px 0px 20px;
}

.mat-column-numberOfSongs {
  padding: 0px 20px 0px 20px;
}

.playlistsCommunity-container {
  padding: 10px 10px 10px 10px;
}
