<div class="playlistsCommunity-container">
  <div class="mat-h3">Community Playlists</div>

  <mat-form-field>
    <div class="mat-h4">Filter by Genre</div>
    <mat-select [(ngModel)]="genreSelectedId" (selectionChange)="genreChanged($event.value)">
      <mat-option [value]="">Select a genre</mat-option>
      <mat-option *ngFor="let genre of genres; let p = index" [value]="genre.id">
        {{genre.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="clearFilter()">Clear Filter</button>

  <div *ngIf="playlists.length > 0">
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="playlistImageUrl">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.playlistImageUrl !== undefined && element.playlistImageUrl !== null">
            <a [routerLink]="['/playlist', element.id]">
              <img class="room-image" width="85px" height="85px" [src]="element.playlistImageUrl" [alt]="element.playlistName" />
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="playlistName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Playlist Name</th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['/playlist', element.id]">{{element.playlistName}}</a></td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef>Owner</th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/profile', element.applicationUser.username]">{{element.applicationUser.username}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="profileImageUrl">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.applicationUser.profileImageUrl !== undefined && element.applicationUser.profileImageUrl !== null">
            <a [routerLink]="['/profile', element.applicationUser.username]">
              <img class="room-image" width="85px" height="85px" [src]="element.applicationUser.profileImageUrl" [alt]="element.applicationUser.username" />
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfSongs">
        <th mat-header-cell *matHeaderCellDef>Songs Count</th>
        <td mat-cell *matCellDef="let element">
          {{element.numberOfSongs}}
        </td>
      </ng-container>

      <ng-container matColumnDef="genreName">
        <th mat-header-cell *matHeaderCellDef>Genres</th>
        <td mat-cell *matCellDef="let element">
          <table>
            <tr>
              <th></th>
            </tr>
            <tr>
              <td *ngFor="let playlistGenre of element.playlistsGenres; let p = index">
                <div *ngIf="p === element.playlistsGenres.length - 1">
                  {{playlistGenre.genre.name}}
                </div>
                <div *ngIf="p !== element.playlistsGenres.length - 1">
                  {{playlistGenre.genre.name}}
                </div>
              </td>
            </tr>
          </table>
        </td>
      </ng-container>

      <ng-container matColumnDef="queuePlaylist">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button color="primary" (click)="queuePlaylist(element.id)">Queue Playlist</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      class="table-paginator"
    ></mat-paginator>
  </div>

  <div class="row" *ngIf="playlists.length <= 0">
    <span>No playlist Community available now ....</span>
  </div>
</div>
