<div class="mat-h3" *ngIf="isOwner">
  Songs in playlist: <b>{{songsPlaylist.length}}</b>
  <br>
  Maximum number of songs: <b>{{maxNumberOfSongs}}</b>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="songThumbnail">
    <th mat-header-cell  *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a href="https://youtu.be/{{element.song.youtubeId}}" target="_blank">
        <img class="room-image" [width]="element.song.thumbnailWidth" [height]="element.song.thumbnailHeight" [src]="element.song.thumbnailUrl" [alt]="element.song.songName" />
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="songName">
    <th mat-header-cell *matHeaderCellDef>Song Name</th>
    <td mat-cell *matCellDef="let element">
      <a href="https://youtu.be/{{element.song.youtubeId}}" target="_blank">{{element.song.songName}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="songLengthSec">
    <th mat-header-cell *matHeaderCellDef>Song Length</th>
    <td mat-cell *matCellDef="let element">
      {{element.song.songLengthSeconds}} Seconds
    </td>
  </ng-container>

  <ng-container matColumnDef="removeSongPlaylist">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button *ngIf="isOwner" color="accent" (click)="removeSongFromPlaylist(element)">Remove Song From Playlist</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="[5,10,20,25,50]" showFirstLastButtons></mat-paginator>

<div class="row" *ngIf="songsPlaylist.length <= 0">
  <span>No Songs yet in this Playlist</span>
</div>
