<div class="mat-h3">Maximum number of Songs: {{numberOfSongs}}</div>

<form (ngSubmit)="savePlaylist()" #editForm="ngForm">
  <div>
    <mat-form-field>
      <input matInput id="playlistName" #tPlayList name="playlistName" placeholder="Playlist Name" [(ngModel)]="playlistName" required>
    </mat-form-field>
    <div *ngIf="tPlayList.touched && !tPlayList.valid" style="color: red">Place Name is Required</div>
  </div>
  <div>
    <mat-checkbox type="checkbox" [(ngModel)]="isSelected" name="isSelected" id="isSelected">Is Default</mat-checkbox>
  </div>
  <br>
  <div>
    <button mat-stroked-button color="default" type="button" id="back" routerLink="/playlists">Back</button>
    <button mat-stroked-button color="primary" type="submit" id="save" [disabled]="!editForm.form.valid">Save</button>
  </div>
</form>

<hr>
<app-songsplaylist></app-songsplaylist>

<hr>
<app-searchsongplaylist [playlist] = "playlist"></app-searchsongplaylist>
