<div class="message-container">
  <div id="messageTable-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.applicationUserRoom.isOwner" [ngStyle]="{color: element.applicationUserRoom.applicationUser.chatColor}">
            {{element.applicationUserRoom.applicationUser.username}}
          </div>
          <div *ngIf="!element.applicationUserRoom.isOwner">
            {{element.applicationUserRoom.applicationUser.username}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let element">
          {{element.message}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="messageInputBox">
    <form (ngSubmit)="sendMessage()" #messageForm="ngForm">
      <mat-form-field>
        <input matInput id="message" name="message" placeholder="Enter your message" [(ngModel)]="message">
      </mat-form-field>
      <button mat-stroked-button color="primary" appearance="outline" type="submit" [disabled]="!messageForm.valid">Send Message</button>
    </form>
  </div>
</div>
