<div class="container">
  <div class="col-12">

    <h1>{{title}}</h1>
    <nav>
      <a routerLink="/home">Home</a> |
      <a routerLink="/account">Account</a> |
      <a routerLink="/playlists">Playlists</a> |
      <a routerLink="/currencies">Currencies</a> |
      <a routerLink="/rooms">Rooms</a>
    </nav>

    <div *ngIf="isAuthenticated && claims !== null">
      <h2>Welcome, {{claims['name']}}!</h2>
      <button (click)="logout()">Logout</button>
      <!-- <app-youtube></app-youtube> -->
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="!isAuthenticated">
      <button (click)="login()">Login</button>
    </div>

  </div>
</div>

