<div class="mat-h1">{{title}}</div>

<div *ngIf="!isAuthenticated" class="button-login" >
  <button mat-raised-button color="primary" (click)="login()">Login</button>
</div>

<div *ngIf="isAuthenticated && claims !== null">
  <mat-sidenav-container class="sidenav-full">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-list>
        <mat-list-item routerLink="/home"><mat-icon mat-list-icon>radio</mat-icon> Home</mat-list-item>
        <mat-list-item routerLink="/rooms"><mat-icon mat-list-icon>room</mat-icon>Rooms</mat-list-item>
        <mat-list-item routerLink="/playlists"><mat-icon mat-list-icon>playlist_play</mat-icon>Playlist</mat-list-item>
        <mat-list-item routerLink="/currencies"><mat-icon mat-list-icon>library_music</mat-icon>Currencies</mat-list-item>
        <mat-list-item routerLink="/account"><mat-icon mat-list-icon>account_box</mat-icon>Account</mat-list-item>
        <mat-list-item routerLink="/cart"><mat-icon mat-list-icon>shopping_cart</mat-icon>Cart</mat-list-item>
        <mat-list-item routerLink="/cart" (click)="logout()"><mat-icon mat-list-icon>exit_to_app</mat-icon>Logout</mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <h2>Welcome, {{claims['name']}}!</h2>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
