
<div *ngIf="!isAuthenticated">
  <div class="bg-dark">
    <div class="mat-display-1 title-text">{{title}}</div>
    <div class="mat-display-1 lsfyContainer">A Music Sharing And Streaming Experience ...</div>
    <!-- <slideshow [imageUrls]="imageUrlArray"
      [showArrows] = "false"
      [autoPlay]= "true"
      [autoPlayInterval] = 6000
      [lazyLoad] = "imageUrlArray?.length > 1"
      [autoPlayWaitForLazyLoad] = "false"
    ></slideshow> -->
    <div class="button-login-container">
      <button mat-raised-button class="button-login" color="accent" (click)="login()">Login</button>
    </div>
    <div class="lsfyFooter mat-h4"> 2020 Listify </div>
  </div>
</div>

<div *ngIf="isAuthenticated && claims !== null">
  <ngx-loading-x [show]="loading"></ngx-loading-x>
  <mat-sidenav-container class="sidenav-full">
    <mat-sidenav class="sidenav-fixed" #sidenav mode="side" opened>
      <mat-list>
        <mat-list-item class="cursor-link" routerLink="/" ><mat-icon mat-list-icon>radio</mat-icon>My Room</mat-list-item>
        <mat-list-item class="cursor-link" routerLink="/rooms"><mat-icon mat-list-icon>room</mat-icon>Rooms</mat-list-item>
        <mat-list-item class="cursor-link" routerLink="/playlists"><mat-icon mat-list-icon>playlist_play</mat-icon>Playlists</mat-list-item>
        <mat-list-item class="cursor-link" routerLink="/playlistsCommunity"><mat-icon mat-list-icon>library_music</mat-icon>Community Playlists</mat-list-item>
        <mat-list-item class="cursor-link" routerLink="/currencies"><mat-icon mat-list-icon>library_music</mat-icon>Currencies</mat-list-item>
        <mat-list-item class="cursor-link" routerLink="/purchasableItems"><mat-icon mat-list-icon>attach_money</mat-icon>Purchasable Items</mat-list-item>
        <mat-list-item class="cursor-link" routerLink="/account"><mat-icon mat-list-icon>account_box</mat-icon>Account</mat-list-item>
        <mat-list-item class="cursor-link" routerLink="/cart"><mat-icon mat-list-icon>shopping_cart</mat-icon>Cart</mat-list-item>
        <mat-list-item class="cursor-link" routerLink="/" (click)="logout()"><mat-icon mat-list-icon>exit_to_app</mat-icon>Logout</mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <h2>Welcome, {{username}}!</h2>
      <app-room></app-room>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
