<form class="currencyForm-container" (ngSubmit)="saveCurrency()" #editForm="ngForm">
  <mat-form-field>
    <input matInput [(ngModel)]="currencyName" #tCurrency="ngModel" name="currencyName" id="currencyName" placeholder="Currency Name" required>
    <div *ngIf="tCurrency.touched && !tCurrency.valid" style="color: red">Currency Name is Required</div>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="weight" #tWeight="ngModel" name="weight" id="weight" placeholder="Weight" required>
    <div *ngIf="tWeight.touched && !tWeight.valid" style="color: red">Weight is Required</div>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="quantityIncreasePerTick" #tQuantityIncreasePerTick="ngModel" name="quantityIncreasePerTick" id="quantityIncreasePerTick" placeholder="Quantity Increase Per Tick" required>
    <div *ngIf="tQuantityIncreasePerTick.touched && !tQuantityIncreasePerTick.valid" style="color: red">Quantity Increase Per Tick is Required</div>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="timeSecBetweenTick" #tTimeSecBetweenTick="ngModel" name="timeSecBetweenTick" id="timeSecBetweenTick" placeholder="Time By Seconds Between Tick" required>
    <div *ngIf="tTimeSecBetweenTick.touched && !tTimeSecBetweenTick.valid" style="color: red">Time By Seconds Between Tick is Required</div>
  </mat-form-field>

  <div class="formButton-container">
    <button mat-stroked-button appearance="outline" color="accent" type="button" id="back" [routerLink]="['/currencies']">Back</button>
    <button mat-stroked-button appearance="outline" color="primary" type="submit" id="save" [disabled]="!editForm.form.valid">Save</button>
  </div>
</form>
