<div class="mat-h3">Search and add song to playlist</div>
<form (ngSubmit)="searchForSong()" #editForm="ngForm">
  <mat-form-field>
    <input matInput appearance="outline" search [(ngModel)]="searchSnippet" name="searchSnippet" placeholder="Enter songs to search ..." required />
  </mat-form-field>
  <button mat-mat-stroked-button color="primary" type="submit" [disabled] ="searchSnippet === '' || searchSnippet === undefined || searchSnippet === null">Search For Song</button>
  <button mat-mat-stroked-button color="accent" (click)="clearSearch()" type="button" [disabled] ="songSearchResults.length <= 0">Clear</button>
</form>

<div class="row" *ngIf="songSearchResults.length > 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="songThumbnail">
      <th mat-header-cell  *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a href="https://youtu.be/{{element.videoId}}" target="_blank">
          <img class="room-image" [width]="element.youtubeThumbnailWidth" [height]="element.youtubeThumbnailHeight" [src]="element.youtubeThumbnailUrl" [alt]="element.songName" />
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="songName">
      <th mat-header-cell *matHeaderCellDef>Song Name</th>
      <td mat-cell *matCellDef="let element">
        <a href="https://youtu.be/{{element.videoId}}" target="_blank">{{element.songName}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="addToPlaylist">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button appearance="outline" color="primary" (click)="addSongToPlaylist(element)">Add Song To Playlist</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
