<button mat-stroked-button color="primary" [routerLink]="['/purchasableItem']">Create New Purchasable Item</button>

<div class="row" *ngIf="purchasableItems.length > 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <img width="85px" height="85px" *ngIf="element.imageUri !== undefined || element.imageUri !== null || element.imageUri !== ''" [src]="element.imageUri" [alt]="element.purchasableItemName" />
      </td>
    </ng-container>

    <ng-container matColumnDef="purchasableItemName">
      <th mat-header-cell *matHeaderCellDef>Name: </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="" (click)="addPurchasableItemToCart(element.id)">{{element.purchasableItemName}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="purchasableItemType">
      <th mat-header-cell *matHeaderCellDef>Item Type </th>
      <td mat-cell *matCellDef="let element">
        {{getPurchasableItemsTypes()[element.purchasableItemType]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity </th>
      <td mat-cell *matCellDef="let element">
        {{element.quantity}}
      </td>
    </ng-container>

    <ng-container matColumnDef="unitCost">
      <th mat-header-cell *matHeaderCellDef>Unit Cost</th>
      <td mat-cell *matCellDef="let element">
        {{element.unitCost | currency}}
      </td>
    </ng-container>

    <ng-container matColumnDef="discountApplied">
      <th mat-header-cell *matHeaderCellDef>Discount</th>
      <td mat-cell *matCellDef="let element">
        {{element.discountApplied | percent}}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="removePurchasableItem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="accent" (click)="removePurchasableItem(element.id)">Remove Item</button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="row" *ngIf="purchasableItems.length <= 0">
  <span>No Purchasable Items yet ...</span>
</div>
