.mat-column-usersOnline,
.mat-column-roomTitle,
.mat-column-roomName,
.mat-column-isRoomLocked,
.mat-column-matureContent{
  justify-content: center;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.mat-column-profileImageUrl {
  justify-content: center;
}

.roomsComponent-container {
  flex: 5 5 100%;
  padding: 0px 10px 0px 10px;
}

.mat-column-username {
  padding: 0px 20px 0px 20px;
}

.padding-simple {
  padding: 0px 10px 10px 10px;
}

