<div class="mat-h3">
  Your purchase was successful! the following items have been applied to your account:
</div>

<table class="checkout-container" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="itemName">
    <th mat-header-cell *matHeaderCellDef>Item Name</th>
    <td mat-cell *matCellDef="let element">
      {{element.purchasableItem.purchasableItemName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="orderQuantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">
      <input matInput readonly id="orderQuantity" name="orderQuantity" placeholder="Order Quantity" [(ngModel)]="element.orderQuantity">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
