.cartTable-Container {
  display: flex;
  flex: 1 1 100%;
}

.mat-column-itemName {
  padding: 0px 100px 0px 0px;
}

.mat-column-quantity {
  padding: 0px 60px 0px 30px;
}

.mat-column-cost {
  padding: 0px 10px 0px 30px;
}

.mat-column-removeFromCart {
  padding: 0px 20px 0px 30px;
}

.mat-column-image {
  padding: 0px 30px 0px 30px;
}

