
<div class="row" *ngIf="purchasableItems.length > 0">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Cost</th>
      </tr>
    </table>
    <tbody>
      <tr *ngFor="let purchasableItem of purchasableItems; let i = index">
        <td>{{purchasableItem.purchasableItemName}}</td>
        <td>{{purchasableItem.quantity}}</td>
        <td>${{purchasableItem.lineCost}}</td>
      </tr>
    </tbody>
  </div>
  <h3>Subtotal: {{subTotal}}</h3>
</div>

<div class="row" *ngIf="purchasableItems.length <= 0">
  <span>Nothing in Cart</span>
</div>
