<h3>Account</h3>
<div class="row">
  <form class="form-inline" (ngSubmit)="submitUserData()" #accountForm="ngForm">
    <div class="form-group">
      <label class="sr-only" for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required/>
    </div>
    <div class="form-group">
      <label class="sr-only" for="songPoolCountMax">Song Pool Count</label>
      <input type="text" class="form-control" id="songPoolCountMax" name="songPoolCountMax" [(ngModel)]="songPoolCountMax" required/>
    </div>
    <div class="form-group">
      <label class="sr-only" for="playlistCount">Playlist Count</label>
      <input type="text" class="form-control" id="playlistCount" name="playlistCount" [(ngModel)]="playlistCount" required/>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!accountForm.valid">Submit Changes</button>
  </form>
</div>
