.cursor-link {
  cursor: pointer;
}

.playerComponent-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.playerComponent-child {
  flex: 1;
  padding: 5px 0px 0px 0px;
}

.padding-simple {
  padding: 10px;
}
