<!-- <youtube-component
  [videoId]="songQueued.song.youtubeId"
  (ready)="onReady($event)"
  (change)="onStateChange($event)"
></youtube-component> -->
<mat-card>
  <ngx-loading-x [show]="loading"></ngx-loading-x>

  <div class="playerComponent-container">
    <div class="mat-h3">Player</div>
    <label *ngIf="isPlaying">
      <img width="30px" height="25px" src="../../../assets/sound.gif" alt="Playing" />
    </label>
    <label *ngIf="!isPlaying">
      <!-- <img width="25px" height="25px" src="../../../assets/pause.svg" alt="Paused" /> -->
      <span class="material-icons">pause</span>
    </label>
    <youtube-component
      (ready)="onReady($event)"
      (change)="onStateChange($event)"
    ></youtube-component>
    <app-applicationuserroomcurrencies></app-applicationuserroomcurrencies>

    <button mat-stroked-button mat-accent color="accent" (click)="addToPlaylistDefault()">
      Add This Song to My Default Playlist
    </button>

    <div class="playerComponent-child">
      <label>Song Name: </label> <b>{{songName}}</b>
    </div>
    <div class="playerComponent-child">
      <label>Requested By: </label>
        <b>
          <a [ngStyle]="{color: requestedByColor}" [routerLink]="['/profile', requestedBy]">{{requestedBy}}</a>
        </b>
    </div>
    <div class="playerComponent-child">
      <label>Value : </label> <b>{{playValue}}</b>
    </div>
    <div class="playerComponent-child">
      <label>Room Title: </label> <b>{{roomTitle}}</b>
    </div>
    <div class="playerComponent-child">
      <label>Room Owner: </label>
        <b>
          <a [ngStyle]="{color: roomOwnerColor}" [routerLink]="['/profile', roomOwnerUsername]">{{roomOwnerUsername}}</a>
        </b>
    </div>
    <div class="playerComponent-child">
      <label>Users Online: </label> <b> <a [routerLink]="" (click)="showApplicationUsersRoomModal()">{{ numberUsersOnline }}</a></b>
    </div>
    <div class="playerComponent-child">
      <label>Number Follows: </label> <b><a [routerLink]="" (click)="viewProfileFollows()"> {{ numberFollows }}</a></b>
      <button *ngIf="!isOwner && !isFollowing" mat-mini-fab color="primary" mat-primary class="cursor-link" (click)="followButtonClick()">
        <mat-icon>favorite</mat-icon>
      </button>
      <button *ngIf="!isOwner && isFollowing" mat-mini-fab color="accent" mat-accent class="cursor-link" (click)="unfollowButtonClick()">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
