<!-- <div class="col-4">
  <youtube-component
    [videoId]="videoId"
    (ready) = "onReady($event)"
    (change)= "onChange($event)"
  ></youtube-component>
</div> -->
<!-- <div>
  <span>Currency: {{quantity}} {{currency.currency.currencyName}}</span>
</div> -->

<div *ngFor="let applicationUserRoomCurrency of applicationUserRoomCurrencies">
  Currency: {{applicationUserRoomCurrency.currency.currencyName}} <br>  Quantity: {{applicationUserRoomCurrency.quantity}}
  <button type="button" class="btn btn-primary" (click)="addApplicationUserRoomCurrency(applicationUserRoomCurrency)">Add {{applicationUserRoomCurrency.currency.currencyName}}</button>
</div>
<h3>Room Code : {{roomCode}}</h3>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <app-player></app-player>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <input  class="form-control" (keyup.enter)="requestSong()" [(ngModel)]="searchSnippet" placeholder="Enter Search Keywords...."/>
    <button class="btn btn-default" (click)="requestSong()">Request Song</button>

    <div class="row" *ngIf="songSearchResults.length > 0">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Search Results</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let searchResult of songSearchResults; let i = index">
            <!-- Make this a link to youtube video -->
            <td><a href="https://youtu.be/{{searchResult.videoId}}" target="_blank">{{searchResult.songName}}</a></td>
            <td><input class="form-control" [(ngModel)]="searchResult.quantityWagered" placeholder="Wager Amount"/></td>
            <td>
              <select [(ngModel)]="searchResult.applicationUserRoomCurrencyId">
                <option *ngFor="let applicationUserRoomCurrency of applicationUserRoomCurrencies; let p = index" [ngValue]="applicationUserRoomCurrency.id">
                  {{applicationUserRoomCurrency.currency.currencyName}}
                </option>
              </select>
            </td>
            <td><button (click)="addSongToQueue(searchResult)">Add Song To Queue</button></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="row" *ngIf="songSearchResults.length <= 0">
      <span>No Results</span>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <app-queue [room]="room"></app-queue>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <app-chat></app-chat>
  </div>
</div>
