<!-- <div class="col-4">
  <youtube-component
    [videoId]="videoId"
    (ready) = "onReady($event)"
    (change)= "onChange($event)"
  ></youtube-component>
</div> -->
<div>
  <span>Currency: {{quantity}} {{currencyName}}</span>
</div>
<h3>Room Code : {{roomCode}}</h3>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <youtube-component (ready) = "onReady($event)"(change)= "onChange($event)"></youtube-component>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <input [(ngModel)]="searchSnippet" placeholder="Enter Search Keywords...."/>
    <button class="btn btn-default" (click)="requestSong()">Request Song</button>
    <button class="btn btn-default" (click)="addToPlaylist()">Add to Default Playlist</button>
    <button class="btn btn-default" (click)="playerState()">Get Player State</button>
    <div class="row" *ngIf="songSearchResults.length > 0">
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Search Results</th>
            <th></th>
            <th></th>
          </tr>
        </table>
        <tbody>
          <tr *ngFor="let searchResult of songSearchResults; let i = index">
            <!-- Make this a link to youtube video -->
            <td>{{searchResult.songName}}</td>
            <td><input class="form-control" [(ngModel)]="searchResult.quantityWagered" placeholder="Wager Amount"/></td>
            <td>{{currency.currencyName}}</td>
            <td><button (click)="addSongToPlaylist(searchResult)">Add Song To Queue</button></td>
          </tr>
        </tbody>
      </div>
    </div>
    <div class="row" *ngIf="songSearchResults.length <= 0">
      <span>No Results</span>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <app-queue [room]="room"></app-queue>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <app-chat></app-chat>
  </div>
</div>
